# Configuration Firebase pour AlmanachStock
# Copie ce fichier vers .env.local et renseigne tes vraies valeurs

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBUW7t089PEYdrvkvhLrQnFKZqrooZoYHg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=l-almanach-stock.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=l-almanach-stock
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=l-almanach-stock.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=471255748821
NEXT_PUBLIC_FIREBASE_APP_ID=1:471255748821:web:fab8832adb0e016604125c

# Environnement de déploiement
NODE_ENV=production 